# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [main, kev-dev]
  pull_request:
    branches: [main, kev-dev]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Run Unit Tests
      run: mvn clean test
    - name: Run Integration Test
      shell: pwsh
      run: ./src/integration-test/startup.ps1
      if: github.ref == 'refs/heads/kev-dev'